body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.red{
    color: maroon;
}
.top{
    display: flex; 
    justify-content: space-around;
}

.signin{
    margin-top: 30px;
}

.searchbar{
    margin-bottom: 10px;
}

.Table, td, th{
    border: 1px solid;
    margin:auto;
    width:90%;
}


.tablehead{
    background-color:lightgray
}
